.backgroundstyle{
  height:100px;
  width:100px;
  color:gray
}


.technicianLogin{
  background-image:url('../../assets/images/login-page.png');
  background-repeat:no-repeat;
  background-size: cover;
  height:100vh;
  overflow-x: hidden;
}

.login-div{
  width:300px;
  height:375px;
  padding:6px 5px 35px 5px;
  border-radius: 25px;
  background:RGBA(65,234,255,0.28);
  float:right;
  border:2px solid RGBA(62,234,255,0.28);
  box-shadow: 0px 0px 0px #3eeaff;
  margin-top: 70px;
}
.title{
  text-align: center;
  padding-top: 12px;
  letter-spacing: .5px;
  color:#5fc0fb;
  font-weight: bold;
}
.title h1{
  color:#5fc0fb;
  font-family:"Poppins", sans-serif;
  font-weight: bold;
}

.sub-title{
  text-align: center;
  font-size: 15px;
  padding: 60px 50px 10px 50px;
  letter-spacing: 3px;
}
.sub-title h1{
  position: relative;
  z-index: 2;
  width: 75%;
  text-align: center;
  margin-top: 200px;
  float:left;
  margin:200px 100px 50px 100px;
}
