

<!-- <div class="row mt-2">
 <div class="text-center">
  <p>
    Guest Login
  </p>
  <div>
    <button class="btn btn-primary mt-4" (click)="loginfunction()"> Login</button>
  </div>


  <div>
    <button class="btn btn-primary mt-4" (click)="addform()"> Add Form </button>
  </div>

 </div>
</div> -->

<div class="mt-3">
<div class="technicianLogin">
<div class="container-fluid">
<div class="row">
  <div class="col-md-6">
    <div class="sub-title1">
      <!-- <img src="../../assets/images/project-management.png"> -->
    </div>
  </div>
  <div class="col-md-6">
    <div class="login-div">
      <div class="title">
        <h1>
          Guest Login
        </h1>
      </div>
      <div class="fields">
       <div >
         <!-- <div class="text-center" >
          If Consumer
         </div> -->
         <div class="text-center">
          <span>
            <button class="btn btn-primary mt-4"  (click)="loginfunction()"> Login</button>
           </span>
         </div>

       </div>
       <!-- <div class="password mt-2">
        <div class="text-center">
          If Admin         </div>
          <div class="text-center">
            <span>
              <button class="btn btn-primary mt-4"  (click)="loginfunction()"> Login</button>
             </span>
           </div>
          <div class="text-center">
            <span>
              <button class="btn btn-primary mt-4"  (click)="addform()"> Add Form </button>
            </span>
          </div>

        </div> -->

       <div>

       </div>
      </div>
    </div>
  </div>
</div>
</div>
</div>
</div>
